<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="page-content">
  <h1 class="text-center mt-4">Meetings</h1>
  <hr class="short-hr">
  <div class="container">
    <% @meetings = @meetings.sort %>
    <% @meetings.reverse.each do |meeting| %>
      <div class="row justify-content-md-center">
        <div class="card meeting-card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h4 id="meeting-title" class="card-title"><%= meeting.title %></h4>
            <i class="material-icons">today</i>
            <%= meeting.date.strip %>
            <br>
            <i class="material-icons">access_time</i>
            <%= meeting.time.strip %>
            <br>
            <i class="material-icons">location_on</i>
            <% if (meeting.location)[0..3].eql?('http') %>  
              <%= link_to meeting.location.strip, meeting.location.strip %>   
              <% if (meeting.date)[0].eql?('4/3') ||  (meeting.date)[0].eql?('5') %>
                or C207
              <% end %>
            <% else %>
              <%= meeting.location %>
            <% end %>
            <% if !meeting.recording.eql?('TBA') %>
              <br>
              <i class="material-icons">camera_roll</i>
              <%= link_to 'Zoom Recording Link', meeting.recording %>
            <% end %>
            <p></p>
            <p class="card-text"><%= meeting.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div> 