<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="page-content">
  <h1 class="text-center mt-4">Meetings</h1>
  <hr class="short-hr">
  <div class="container">
    <% @meetings.each do |meeting| %>
      <div class="row justify-content-md-center">
        <div class="card meeting-card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h4 id="meeting-title" class="card-title"><%= meeting.title %></h4>
            <i class="material-icons">today</i>
            <%= meeting.date.strip %>
            <br>
            <i class="material-icons">access_time</i>
            <%= meeting.time.strip %>
            <br>
            <i class="material-icons">location_on</i>
            <%= link_to meeting.location.strip, meeting.location.strip %>
            <br>
            <i class="material-icons">camera_roll</i>
            <%= link_to 'Zoom Recording Link', meeting.recording %>
            <p></p>
            <p class="card-text"><%= meeting.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div> 